* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  color: #333;
}

.eleclist {
  display: grid;
}

.elec {
  margin: 1rem auto;
  padding: 1rem;
  background: linear-gradient(to right, #ffefba, #ffffff);
}
.elec h2 {
  color: darkblue;
  font-color: "sans-serif";
}

.elec h3 {
  color: #444;
}

button {
  padding: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

button:hover {
  color: red;
}
@media screen and (min-width: 1024px) {
  .eleclist {
    grid-template-columns: repeat(3, 1fr);
  }
}
